<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container">
            <h1>Information Retrieval</h1>
	    <h1>Our fancy image search engine</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type="submit">
            </form>
            <h2>Query:</h2>
            {% if input_image %}
	    <img src="data:image/jpg;base64,{{ input_image }}" height="300px" />
            {% endif %}
            <h2>Results:</h2>
            {% for score in scores %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="data:image/jpg;base64,{{ score[2] }}" height="200px">
                
                <figcaption><b>Similarity: </b> {{ score[0] }} </br> <b>Image name: </b> {{ score[1] }}  </figcaption>
                

            </figure>
            {% endfor %}
        </div>
    </body>
</html>

